
            .group {
                display: block;
                margin: 0px auto;
                width: 100%;
                height: fit-content;
                overflow: hidden;
                padding-bottom: 4em;
           }

            .groupLeft {
                animation: fadein 2s;
                display: block;
                width: 8em;
                font-family: "Helvetica Neue Bold", sans-serif;
                font-weight: 200;
                float: left;
                height: 100%;
                overflow: hidden;
                color: white;
                margin-left: 15px;
                margin-top: 11px;
                margin-right: 35px;
                padding: 0px;
                text-align: right;
            }

            .groupRight {
                display: block;
                width: auto;
                margin-right: 0px;
                margin-left: 0px;
                overflow: hidden;
                padding: 1px;
                overflow: hidden;
            }

            .linkSet {
                border: 0px solid #f00; 
                max-width: none; 
                margin-top: 0px; 
                margin-left: 0px; 
                margin-right: 0px; 
                width: fit-content;
            }

            @media only screen and (max-width: 400px) {
                .container {
                    margin-left: 1em;
                    margin-right: 1em;
                }
            }

            @media only screen and (max-width: 500px) {

                .container {
                    margin-right: 2em;
                }

                .group {
                    border-bottom: 1px solid #333;
                    padding-bottom: 1em;
                    margin-bottom: 1em;

                }

                .groupLeft {
                    width: 100%;
                    margin-left: 0px;
                    margin-bottom: 0em;
                    text-align: left;
                    float: none;
                }

                .groupRight {
                    margin-top: 1em;
                    margin-left: 0.7em;
                    padding-top: 0em;

                    float: none;
                }

                .entry {
                    border-left: 1px solid transparent;
                }
            }
