

/* --- header --- */

.pageHeader {
	-webkit-font-smoothing: antialiased;
    font-family: "Helvetica", Sans;
    color: rgb(244, 244, 236);
	padding-top: 145px;
	padding-left: 94px;
	padding-bottom: 30px;
    width: 100%;
}

.pageHeader a {
    text-transform: lowercase;
    color: rgb(244, 244, 236);
    display: block;
    font-family: 'Helvetica', Sans;
    font-weight: bold;
    font-size: 70px;
    height: 80px;
    letter-spacing: -2px;
    line-height: 80px;
}

.pageTitle {
    line-height: 80px; 
    font-size: 70px; 
    font-weight: bold;
    letter-spacing: -2px;
}

.pageSubtitle {
    font-size: 15px; 
    font-weight: 600;
}


@media only screen and (max-width: 885px) {
    .pageHeader {
    	padding-top: 20px;
    	padding-left: 30px;
    }
}

/*
@media only screen and (max-width: 720px) {
}

@media only screen and (max-width: 585px) {
}
*/

@media only screen and (max-width: 475px) {

    .pageHeader {
    	padding-top: 20px;
    	padding-left: 30px;
    }
}
