
.index {
	animation: fadein 2s;
    display: block; 

    width: 100%;
	background-color: #191919;
	
	padding-top: 3em;
	padding-bottom: 1.5em;
}

/*
.indexColumns {
}
*/

.categoryIndex {
    width: 80%;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    padding-left: 0px;
    padding-right: 0px;
    border-top: 1px solid #333;
}

.categoryIndexName {
    color: #fff;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0.66em;
    padding-bottom: 0.3em;
    font-size: 1.2em;
}

.categoryIndexName a {
    all: inherit;
}

.categoryItems {
    column-count: 4;
}


.packageIndex {
    display: inline-block;
    line-height: 1.4em;
    width: 13.3em;
    margin-top: 1.5em;
    margin-bottom: 0.8em;
    vertical-align: top;
}

.packageIndexName {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0em;
    padding-bottom: 0em;
}

/*
.packageItems {
}
*/

.classIndex {
    display: inline-block;
    width: 13.3em;
    font-size: 1em;
    transition: .15s;
    border-radius: 0.2em;
    padding-left: 0.5em;
    margin-left:-0.5em;

}

.classIndex:hover {
    color: #ccc;
    background-color: rgba(58, 58, 58, 0.75);
}
        
.classIndexName {
    display: block;
    color: #aaa;
    font-weight: 300;
    font-size: 1em;
    line-height: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0px;
    margin-left: 0px;
}

.classIndexComment {
    display: inline-block;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 1em;
    font-weight: 400;
    color: #ccc;
}


@media only screen and (max-width: 885px) {
    .categoryIndex {
        margin-top: 3em;
        padding-top: 3em;
    }

/*
    .categoryItems {
        column-count: 1;
    }
    */
    
    .index {
    	padding-top: 1.5em;
    	padding-bottom: 5em;
    }

    .indexColumns {
        width: 100%;
    }
}

@media only screen and (max-width: 720px) {
  .categoryItems {
        column-count: 3;
    }
}

@media only screen and (max-width: 585px) {
  .categoryItems {
        column-count: 2;
    }
}

@media only screen and (max-width: 475px) {
    
    html, body, td {
        font-size: 13px;
    }

    .index {
    	padding-top: 0px;
    	padding-bottom: 0px;
    }
    
    .categoryIndex {
        width: 80%;
        border-top: 2px solid #444;
    }

    .categoryItems {
        column-count: 1;
    }

    .indexColumns {
        width: 100%;
    }
    
    .packageIndex {
        width: 100%;
        margin-bottom: 1em;
    }
    
    .classIndex {
        width: 100%;
    }

    .categoryIndexName {
        font-size: 1.5em;
        line-height: 1em;
    }    
    
    .packageIndexName {
        font-size: 1em;
        line-height: 1em;
    }
        
    .classIndexName {
        font-size: 1em;
        line-height: 1em;
    }

    .class {
        padding-left: 1em;
        padding-right: 1em;
    }

    .className {
        margin-top: 2em;
    }
}
